<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vadim</title>
</head>
<body>
<h1> 🇺🇦Vadim Kharovyuk🇺🇦 📌</h1>
<h2> Nice to meet you my friend✅ </h2>

<div>
    <form action="/welcome/api"method="post">
        <input name="name" placeholder="Имя">
        <input name="lastname" placeholder="Фамилия">
        <input name="data" placeholder="дата">
        <input name="phone" placeholder="номер тлф">
        <input name="money" placeholder="деньги">
        <input name="place" placeholder="место">
        <input type="submit" value="записаться">
    </form>
</div>
<h2> 😎Сheck who's coming 😎</h2>
<div>
    <form action="/welcome/api/all" method="get">
        <input type="submit" value="Сheck">

    </form>
    <div>
        <form action="/welcome" method="get">
            <input type="submit" value="Welcome">

        </form>
    </div>
</div>


</body>
</html>



