<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запись на Встречу</title>
</head>
<body>
<nav>
    <a href="/welcome" > Home</a>
    <a href="/welcome/new-user/api"> Войти </a>
    <a href="/registration"> Зарегистрироваться </a>

    <span></span>
</nav>

<h1> 🇺🇦Vadim Kharovyuk🇺🇦&copy; 📌</h1>
<h2> Nice to meet you my friend✅ </h2>

<div>
    <form action="/welcome/new-user/api"method="post">
        <input name="name" placeholder="Имя">
        <input name="lastname" placeholder="Фамилия">
        <input name="data" placeholder="дата">
        <input name="phone" placeholder="номер тлф">
        <input name="place" placeholder="место">
        <input type="submit" value="записаться">
    </form>
</div>
<h2 style="color: royalblue"> 😎Сheck who's coming 😎</h2>
<div>
    <form action="/welcome/new-user/api/all" method="get">
        <input type="submit" value="Сheck">


    <br><br>
    <div>
        <form action="/logout" method="post">
            <input type="submit" value="Выйти">
        </form>
    </div>

</div>
<br>

<footer>
    Vadim Kharovyuk 1993-2024 &copy;
</footer>


</body>
</html>



