<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body class="d-flex h-100 text-center text-bg-dark">
<header th:insert="block/header::header"> </header>


<br><br><br>
<div><br><br>

    <h1>🇺🇦Vadim Kharovyuk🇺🇦 </h1>
    <h2> Пожалуйста  зарегистрируйтесь ❤️</h2>

</div>



<br><br>
<img src="https://images.izi.ua/180958173">


<div th:insert="block/foter :: foter"></div>
</body>

</html>