<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome </title>

</head>
<body>
<nav>
    <a href="/welcome" > Home</a>
    <a href="/welcome/new-user/api"> Войти </a>
    <a href="/registration"> Зарегистрироваться </a>

    <span></span>
</nav>
<h1>This page is 🇺🇦Vadim Kharovyuk🇺🇦 </h1>
<h2> Пожалуйста  зарегистрируйтесь ❤️</h2>


<div>

<!--    <form action="/welcome"method="post">-->
<!--        <input name="name" placeholder="Имя">-->
<!--        <input name="password" placeholder="пароль">-->
<!--        <input type="submit" value="регистрация">-->
<!--    </form>-->


<!--    <h2> Следующий шаг  👇️ </h2>-->
<!--    <h3> авторизируйтесь 📌 </h3>-->
<!--    <form action="/welcome/new-user/api" method="get">-->
<!--        <input type="submit" value="авторизация">-->


<!--    </form>-->

</div>
<br><br>
<img src="https://images.izi.ua/180958173">
<br><br>
<footer>
    Vadim Kharovyuk 1993-2024 &copy;
</footer>

</body>
</html>